<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Obituary</title>
    <style>
        body {
            background-color:#e07d1f;
        }
    </style>
    <script>
        function validateForm() {
            var name = document.getElementById('id_name').value;
            var email = document.getElementById('id_email').value;
            var dateOfDeath = document.getElementById('id_date_of_death').value;

            if (name === "") {
                alert("Name must be filled out");
                return false;
            }

            if (email === "") {
                alert("Email must be filled out");
                return false;
            }

            var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
            if (!emailPattern.test(email)) {
                alert("Invalid email format");
                return false;
            }

            if (dateOfDeath === "") {
                alert("Date of death must be filled out");
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
    <h1>Submit Obituary</h1>
    <form method="POST" action="{% url 'submit_obituary' %}" onsubmit="return validateForm()">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>
        <label for="date_of_birth">Date of Birth:</label>
        <input type="date" id="date_of_birth" name="date_of_birth" required><br><br>
        <label for="date_of_death">Date of Death:</label>
        <input type="date" id="date_of_death" name="date_of_death" required><br><br>
        <label for="content">Content:</label>
        <textarea id="content" name="content" required></textarea><br><br>
        <label for="author">Author:</label>
        <input type="text" id="author" name="author" required><br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
